.footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48px;
  gap: 10px;
  line-height: 30px;
  width: 100%;
  position: absolute;
  background-color: #2e0039;
  bottom: 0;
  left: 0;
}

.pBox {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.centered-p {
  color: #ffffff;
  text-align: center; 
  margin: 0px 20px;